.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

.container {
  display: flex;
  align-items: center;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: lightgreen;
}

.task-done {
  opacity: 0.5;
  font-style: italic;
  text-decoration: line-through;
  color: red;
}

.task {
  font-weight: bold;
}

.filter-btn-active {
  background-color: #2c619b;
  color: white;
  border: 2px solid #2c619b;
  border-radius: 3px;
}
